<div style="display: flex; justify-content: space-between; align-items: center">
  <h1 class="d-inline-block">Chat</h1>
  <img [src]="_cs.user.img" class="img-fluid img-bubble" alt="profile-img" />
</div>
<hr />
<div class="app-messages fadeIn" id="app-messages">
  <div
    class="mb-3"
    [class.text-right]="_cs.user.uid === chat.uid"
    *ngFor="let chat of _cs.chats"
  >
    <div [class.chat-info]="_cs.user.uid !== chat.uid">
      <span
        class="badge user-name"
        [ngClass]="{
          'badge-primary': _cs.user.uid === chat.uid,
          'badge-success': _cs.user.uid !== chat.uid
        }"
        >{{ chat.name }}</span
      >
      <img
        *ngIf="_cs.user.uid !== chat.uid"
        [src]="chat.img"
        style="height: 1.2em !important"
        class="img-bubble"
        alt="profile-img"
      />
    </div>

    <div>
      <p class="bubble-message mb-0">
        {{ chat.message }}
      </p>
      <small style="font-size: 10px" class="text-muted d-block">{{
        chat.date | date: "short"
      }}</small>
    </div>
  </div>
</div>

<input
  class="form-control"
  type="text"
  name="message"
  [(ngModel)]="message"
  (keyup.enter)="sendMessage()"
  placeholder="Send message"
/>
