.main-container {
  margin-top: 40px;
  margin-bottom: 150px;
}

.pointer {
  cursor: pointer;
}

.chat-window {
  padding: 10px;
  width: 300px;
  height: 410px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.app-messages {
  overflow-y: scroll;
  height: 260px;
  /*background:gray;*/
  padding: 6px;
  margin-bottom: 6px;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bubble-message {
  background-color: #c8daff;
  border-radius: 18px;
  padding: 6px 8px;
  display: inline-block;
  font-size: 0.9em;
  max-width: 160px;
  word-wrap: break-word;
  text-align: start;
}

.img-bubble {
  border-radius: 50%;
  height: 50px;
  display: inline-block;
  margin-left: 4px;
}

.user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 110px;
}

.chat-info {
  display: flex;
  margin-bottom: 6px;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* width */
.app-messages::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.app-messages::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.app-messages::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
.app-messages::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.7);
}
